{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}

<link rel="stylesheet" href="{{url_for( 'static',filename = 'css/index.css')}}">
{% endblock %}
<!-- Body content  -->
{% block content %}

<div class="container-fluid">

  <div class="row popular-blogs">
    <h2>Top Popular</h2>
    {{ macro.display_blog_titles(popular_blogs) }}
  </div>

  <div class="row scandal-blogs">
    <h2>Top Scandals</h2>
    {{ macro.display_blog_titles(scandal_blogs) }}
  </div>

</div>

{% endblock %}
